@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://i.icomoon.io/public/5ba04e2a5e/ScalaItaly2016/style.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import "./variables.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div {
  font-family: "Monaco", "Inconsolata", monospace;
}

h1 {
  color: var(--white);
  text-align: center;
  font-size: 33px;
  font-family: "Montserrat";
  font-weight: normal;
  letter-spacing: 0.9px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 70px;
  @media only screen and (max-device-height: 700px) {
    margin-top: 20px;
  }
  margin-bottom: 0;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-family: "Monaco", "Inconsolata", monospace;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
}

h4 {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

strong {
  font-weight: 700;
}

a {
  cursor: pointer;
  color: var(--aquamarine);
}

a:hover {
  color: var(--aquamarine);
}

input {
  height: 36px;
  border-radius: 1px;
  border: 1px solid var(--paleGrey);
  font-weight: var(--semibold);
  font-size: 14px;
  color: var(--charcoalGrey);
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: var(--grayChateau);
}
